<!DOCTYPE html>
<html lang="en">
<head>
<title>ExChAnGeaGRaM</title>
<meta name="description" content="Buy not, barter. Why not barter?"/>
<link rel="shortcut icon" href="home/static/images/ExChAnGeaGRaM.ico">
<link href="home/static/css/style.css" rel="stylesheet"/>
<script src="home/static/js/mootools-core-1.4.2.min.js" type="text/javascript"></script>
<script src="home/static/js/lib.min.js" type="text/javascript"></script>
<script src="home/static/js/bootstrap.min.js" type="text/javascript"></script>

</head>
<body>
<div id="loader">
	<h1>ExChAnGeaGRaM</h1>
	<h2>Buy not, barter. Why not barter?</h2>
	<h3>LOADING...</h3>
	<span id="loaderBollo"></span>
	<p id="loaderTop"></p>
	<p id="loaderBottom"></p>
</div>
<nav id="menu">
	<div id="menuButtons">
		<a href="#">AboUt</a>
		<a href="#">Sign In</a>
		<div><a id="menuBackToTop" href="#">BAcK tO ToP</a></div>
	</div>
	<div id="menuFacebook">
		<div><a href="http://facebook.com" target="_blank"><p></p></a></div>
	</div>
	<div id="menuTwitter">
		<div><a href="http://twitter.com" target="_blank"><p></p></a></div>
	</div>
</nav>
<header id="header">
	<div id="headerBollonzo">
		<span class="top"></span>
		<h2><strong>InTroDucInG</strong></h2>
		<hr class="top">
		
		<h1>Exchange
		agram</h1>
		<hr class="bottom">
		<h3>SheKhaWat & GroVer </h3> 
		<h4>PRoDuCTioNs</h4>
  		<span class="bottom"></span>
	</div>
	<div id="header2"></div>
</header>


<!-- FOOTER -->
<footer id="footer">
	<div id="footerBollonzo">
		<a id="scozzese" href="https://github.com/krngrvr09" target="_blank">
			<p>design by Karan</p>
		</a>
		<div id="hugeScotz"></div>
	</div>
</footer>
</body>
</html>
